{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "eslint-plugin-readable-tailwind"
  ],
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSameLine": false,
  "printWidth": 60
}
