.navigation {
  // All for the hamburguer menu
  &__checkbox {
    display: none;
  }

  &__button {
    height: 5rem;
    width: 5rem;
    position: absolute;
    top: 8rem;
    right: 7rem;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(tab-port) {
      top: 6rem;
      right: 4rem;
    }

    @include respond(phone) {
      top: 5rem;
      right: 3rem;
    }
  }

  // FUNCTIONALITY
  &__checkbox:checked {
    transform: scale(80);
  }

  &__checkbox:checked {
    opacity: 1;
    width: 100%;
  }

  // ICON
  &__icon {
    position: relative;
    right: 25%;

    &::before,
    &::after {
      width: 4.5rem;
      height: 2px;
      background-color: $color-blue;
      display: inline-block;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.5s;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    background-color: $color-yellow;
    transform: rotate(-135deg);
  }

  // Here's the navigation menu
  &__nav {
    position: absolute;
    top: 13rem;
    right: 7rem;
    z-index: 1500;
    width: 25rem;
    background-color: $color-black;
    border: 2px solid $color-white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.1s;
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item:not(:last-child) {
    border-bottom: 2px solid $color-white;
  }

  &__item {
    text-align: center;
    display: flex;
    align-items: center;
    height: 6rem;
  }

  &__link {
    font-family: 'Space Mono';
    font-size: medium !important;
    text-decoration: none;
    color: $color-white;
    font-size: 1rem;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link:hover {
    color: blue;
  }
}
